.jumbotron {
	background-color: #4BF289;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: black;
	margin-bottom: 0px;
	margin-top: 10px;
	color: white;
	
	
}
	

.card-hotel {
	flex: 1 150px;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10px;
	
	
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right:10px;
}

.tab-content{
	padding-top: 10px;
}